.box {
  width: 200px;
  height: 200px;
  background-color: aqua;
  overflow: auto;
  overscroll-behavior: contain;
}

/* width */
.box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.box::-webkit-scrollbar-track {
  background: #1779aa;
  border-radius: 5px;
}

/* Handle */
.box::-webkit-scrollbar-thumb {
  background: #23b475;
  border-radius: 5px;
}

/* Handle on hover */
.box::-webkit-scrollbar-thumb:hover {
  background: #073462;
}
