body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Bitcount Prop Single", system-ui;
  height: 120px;
  background-color: yellow;
  line-height: 40px;
}

p{
  /* font-weight: lighter; */
  font-size: 20px;
  line-height: 0.5;
  line-height: 150%;
  /* line-height: 24px; */
}