/* beauty CSS */
.box1 {
  background: rgb(238, 238, 25);
  /* grid-row-start: 1;
  grid-row-end: 3; */
  grid-row: 1 / 3;
  /* grid-column-start: 1;
  grid-column-end: 3; */
  grid-column: 1 / 3;
  /* grid-column: 1 / -1; */
}

.box2 {
  background: rgb(119, 234, 32);
  grid-column-start: 3;
  grid-column-end: 6;
}

.box3 {
  background: rgb(28, 31, 211);
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.box4 {
  background: rgb(237, 62, 202);
  /* grid-row: span 2;
  grid-column: span 2; */
}

.box5 {
  background: rgb(237, 57, 57);
  grid-column-start: 1;
  grid-column-end: 3;
}

.box6 {
  background: rgb(25, 240, 255);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.container {
  background: #ccc;
  /* display: grid; */
  display: inline-grid;
  gap: 15px;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(3, 100px);
}
